.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

/* HEADER */
.header {
  background: var(--anhanguera);
  color: white;
  padding: 12px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-light {
  background: var(--anhanguera-light);
  color: var(--anhanguera-dark);
}

.btn-outline {
  border: 1px solid white;
  background: transparent;
  color: white;
}
